

body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-box {
    width: 400px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bharat-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.forgot-password-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.instructions-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.label-text {
    text-align: left;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(5, 196, 5);
    border: 1px solid white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: rgb(4, 134, 4);
}

.response-message {
    font-size: 14px;
    margin-top: 20px;
    color: #d9534f; /* Error message color */
    font-weight: bold;
}
