/* #AddToCart {
    background-color: #f1623f;
    color: white;
    padding: 7px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #AddToCart:hover {
    transform: scale(1.1); // Slightly increase size
     box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  } */


  #AddToCart {
    background-color: #f1623f;
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 95%; /* Set the button to 80% of its parent container */
    text-align: center;
    margin: 0 auto; /* Center the button horizontally within the parent div */
}

#AddToCart:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
 
}
.available-badge{
  border-radius: 10px;
}
